.navbar-default{
	font-size: 23px;
	background-color: #f9690e;
	color: white;
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color: white;
	background-color: #f9690e;
}

.navbar-default .navbar-nav>.active>a{
	background-color: #FF8A42;
	color: white;
}
.navbar-default .navbar-nav>.active>a:hover{
	background-color: #FF8A42;
	text-decoration: none;
	color:white;
}

.radiobtn {
     list-style-type:none;
	 font-size: 11px;
}

.radiobtn label, .radiobtn input {
    display:block;
    position:absolute;
    left:0;
    right:0;
    bottom:0;
	padding: 5px;
	margin-top: 20px;
}

.radiobtn input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

.radiobtn input[type="radio"]:checked + label {
    background:yellow;
}

.radiobtn label {
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
}

.radiobtn label:hover {
     background:#DDD;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover
{
	color: #f9690e;
	padding-right: 6px;
	padding-left: 6px;
}

.location{
	color: black;
	font-size: 12px;
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover{
	color: #f9690e;
}

.navbar-header{
	padding-top: 8px;
}

.nav-brand{
	color: white;
	padding-left: 10px;
}

.nav-brand img{
	margin-top: -5px;
}

.navbar-toggle{
	margin: 0px;
	margin-right: 10px;
}

.events>tbody>tr>td{
	text-align: left;
}

.events>thead>tr>th{
	text-align: left;
}

.nav-brand:hover,
.nav-brand:active,
.nav-brand:visted{
	color: white !important;
	text-decoration: none !important;
}

.navbar .nav > li > a{
	color: #ffffff;
	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

.navbar .nav > li > a:hover{
	color: white;
	background-color: #9B3B00;

}

.nav-tabs>li>a{
	padding-right: 8px;
	padding-left: 8px;
}

.logo{
	color: white !important;
	text-decoration: none !important;
	
}

.content{
	color: #F9690E;
	padding-bottom: 50px;
	overflow: auto;
	min-height: 100%;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

.small{
	font-size: 15px;
}

hr{
	position: relative;
	display:block;
	height: 1px;
	max-width: 600px;
	border: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFA46B;
	padding: 0;
}

hr2{
	position: relative;
	display:block;
	height: 1px;
	max-width: 600px;
	border: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: white;
	padding: 0;
}

hr1{
	display: block;
    height: 1px;
    max-width: 200px;
    border-top: 2px solid #FFA46B;
}

img{
	padding-right: 8px;
}

body {
  padding-top: 60px;
  font-family: 'Open Sans', sans-serif;
}

h1{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

h2{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

h3{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

h4{
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
}

th{
	text-align: center;
}

td{
	text-align: center;
}

input{
	text-align: center;
}

.btn-primary {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color:#F9690E;
}

a, a.active, a:hover{
	color:#F9690E;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #C54C01;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #F9690E;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-primary {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	transition: all .1s linear;
}

.btn:active{
	transform: translateY(1px);
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: #F9690E;
	color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #F9690E;
}
.btn-primary:active, .btn-primary.active {
	background: #C54C01;
	box-shadow: none;
}

.red{
	background-color: #EC644B;
	color: white;
}

.redbox{
	background-color: #EC644B;
	color: white;
	padding-bottom: 20px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	margin-bottom: 20px
}

.darkredbox{
	background-color: #A92810;
	color: white;
	margin-left: -15px;
	margin-right: -15px;
}

.redbutton{
	background-color: white;
	color: black;
}

.redbutton:hover, .redbutton:active, .redbutton.active, .redbutton.focus, .redbutton:focus, .redbutton:active:focus, .redbutton:focus:hover, .redbutton.focus:hover,
.redbutton.active.focus, 
.redbutton.active:focus, 
.redbutton.active:hover, 
.redbutton:active.focus, 
.redbutton:active:focus, 
.redbutton:active:hover,
.greenbutton:hover, .greenbutton:active, .greenbutton.active, .greenbutton.focus, .greenbutton:focus, .greenbutton:active:focus, .greenbutton:focus:hover, .greenbutton.focus:hover,
.greenbutton.active.focus, 
.greenbutton.active:focus, 
.greenbutton.active:hover, 
.greenbutton:active.focus, 
.greenbutton:active:focus, 
.greenbutton:active:hover{
	color:black;
}

.blue{
	background-color: #4183D7;
	color: white;
}

.bluetext, .bluetext:hover, .bluetext:active, .bluetext.active, .bluetext.focus, .bluetext:focus, .bluetext:active:focus{
	color: #4183D7;
}

.bluebox{
	background-color: #4183D7;
	color: white;
	padding-bottom: 30px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	margin-bottom: 18px
}

.darkbluebox{
	background-color: #0A4FA8;
	color: white;
	margin-left: -15px;
	margin-right: -15px;
}

.bluebutton{
	background-color: #4183D7;
	color: white;
}

.bluealliancebutton:active, .bluealliancebutton.active, .bluealliancebutton.focus, .bluealliancebutton:focus, .bluealliancebutton:active:focus, .bluealliancebutton.active:hover, .bluealliancebutton:active:hover,
.bluealliancebutton:hover, .bluealliancebutton:active, .bluealliancebutton.active, .bluealliancebutton.focus, .bluealliancebutton:focus, .bluealliancebutton:active:focus, .bluealliancebutton:focus:hover, .bluealliancebutton.focus:hover,
.bluealliancebutton.active.focus, 
.bluealliancebutton.active:focus, 
.bluealliancebutton.active:hover, 
.bluealliancebutton:active.focus, 
.bluealliancebutton:active:focus, 
.bluealliancebutton:active:hover,
.redalliancebuttonbutton:active, .redalliancebutton.active, .redalliancebutton.focus, .redalliancebutton:focus, .redalliancebutton:active:focus, .redalliancebutton.active:hover, .redalliancebutton:active:hover,
.redalliancebutton:hover, .redalliancebutton:active, .redalliancebutton.active, .redalliancebutton.focus, .redalliancebutton:focus, .redalliancebutton:active:focus, .redalliancebutton:focus:hover, .redalliancebutton.focus:hover,
.redalliancebutton.active.focus, 
.redalliancebutton.active:focus, 
.redalliancebutton.active:hover, 
.redalliancebutton:active.focus, 
.redalliancebutton:active:focus, 
.redalliancebutton:active:hover{
	color: black;
}

.bluealliancebutton, .bluealliancebutton:hover{
	background-color: #4183D7;
	color: white;
	border-color: #4183D7;
}

.redalliancebutton, .redalliancebutton:hover{
	background-color: #EC644B;
	color: white;
	border-color: #EC644B;
}

.green{
	background-color: #26A65B;
	color: white;
}

.greenbox{
	background-color: #26A65B;
	color: white;
	padding-bottom: 27px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	margin-bottom: 20px
}

.darkgreenbox{
	background-color: #02702E;
	color: white;
	margin-left: -15px;
	margin-right: -15px;
}

.greenbutton{
	background-color: white;
	color: black;
}

.pink{
	background-color: #FFB6C1;
	color: white;
}

.pinkbox{
	background-color: #FFB6C1;
	color: white;
	padding-bottom: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.darkpinkbox{
	background-color: #FF5671;
	color: white;
	margin-left: -15px;
	margin-right: -15px;
}

.purple{
	background-color: #9B59B6;
	color: white;
}

@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.icon-bar{
	background-color: white !important;
}

.footer{
	background-color: #f9690e;
	color: white;
	font-size: 14px;
	padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative;
    width: 100%;
	box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.16),0 -2px 10px 0 rgba(0,0,0,0.12)!important;
}

body{
	font-family: 'Open Sans', sans-serif;

}

html{
	position: relative;
}

html, body {
    height: 100%;
}

.redcircle{
	vertical-align: middle;
	position:absolute;
	display: inline;
    width: 14px;
    height: 14px;
    background-color: #EC644B;
    -moz-border-radius:  50%;
    -webkit-border-radius:  50%;
    border-radius:  50%;
	margin-top: 3px;
	margin-left: 10px;
}

.bluecircle{
	vertical-align: middle;
	position:absolute;
	display: inline;
    width: 14px;
    height: 14px;
    background: #4183D7;
    -moz-border-radius:  50%;
    -webkit-border-radius:  50%;
    border-radius: 50%;
	margin-top: 3px;
	margin-left: 10px;
}

.greencircle{
	vertical-align: middle;
	position:absolute;
	margin-left: 10px;
    width: 14px;
    height: 14px;
    background: #26A65B;
    -moz-border-radius:  50%;
    -webkit-border-radius:  50%;
    border-radius:  50%;
	margin-top: 3px;
}

.key{
	font-size: 11px;
	padding-left: 20px;
	padding-right: 5px;
	position:absolute;
	margin-left: 10px;
}

.header{
	width: 100%;
	background-size: cover; 
	background-image: url(); 
	background-repeat: no-repeat;
	display: block;
	height: 100vh;
}

.col-md-6{
	padding-left: 0px;
	padding-right: 0px;
}